appdirs==1.4.4
attrs==21.4.0
certifi==2021.10.8
chardet==4.0.0
cldfbench==1.10.0
cldfcatalog==1.4.0
clldutils==3.11.1
colorlog==6.6.0
csvw==2.0.0
DateTime==4.4
gitdb==4.0.9
greenlet==1.1.2
idna==3.3
isodate==0.6.1
lingpy==2.6.9
Markdown==3.3.6
networkx==2.6.3
newick==1.3.2
numpy==1.21.6
pandas==1.3.5
purl==1.6
pybtex==0.24.0
pycldf==1.25.1
pycountry==22.3.5
pyglottolog==3.7.0
pyigt==1.2.0
-e git+ssh://git@github.com/fmatter/pylacoan.git@b0b8df8cf7cd9b45f56f89bda4381fe36ed6b6fa#egg=pylacoan
-e git+ssh://git@github.com/fmatter/pylingdocs.git@3b099e74752e0ec55953f23a11a2216f03a53baa#egg=pylingdocs
python-dateutil==2.8.2
python-gettext==4.0
python-slugify==6.1.1
pytz==2021.3
questionary==1.10.0
regex==2022.3.15
requests==2.27.1
rfc3986==1.5.0
segments==2.2.0
six==1.16.0
smmap==5.0.0
SQLAlchemy==1.4.35
tabulate==0.8.9
termcolor==1.1.0
tqdm==4.64.0
typing_extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
zipp==3.8.0
Zope==5.5.1